<p>Hey there,</p>
<p>
  Congrats! <b>A comment has been added to your restaurant listing on Nomster. Check it out <%= link_to 'here', place_url(@place) %>.</b>
</p>

Hope you're having a great day!<br />
- Mercedes